# Modelagem e previsão

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, cross_val_score, TimeSeriesSplit
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
from xgboost import XGBRegressor

from itertools import product
import datetime

## 1. Importando dados

In [2]:
df = pd.read_csv("../data/dados_unificados.csv", decimal=',')

In [3]:
# Garante que 'Date' esteja no formato datetime
df['Date'] = pd.to_datetime(df['Date'])

# Cria colunas de tempo (se ainda não existirem)
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Week'] = df['Date'].dt.isocalendar().week

# Define alvo
target = 'Weekly_Sales'

# Features selecionadas
features = ['Store', 'Dept', 'Temperature', 'Fuel_Price', 'CPI', 'Unemployment',
            'Type', 'Size', 'Month', 'Week', 'IsHoliday', 'TemDesconto']

In [4]:

# Codifica 'Type' (categórica)
df['Type'] = LabelEncoder().fit_transform(df['Type'])

# Separa dados de treino (anos anteriores) e teste (ano seguinte)
df_train = df[df['Year'] < df['Year'].max()]
df_test = df[df['Year'] == df['Year'].max()]  # Ano seguinte

X_train = df_train[features]
y_train = df_train[target]
X_test = df_test[features]

NameError: name 'LabelEncoder' is not defined

In [ ]:

model = RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
model.fit(X_train, y_train)

# Previsões
df_test['Weekly_Sales_Predicted'] = model.predict(X_test)

In [ ]:
previsoes = df_test.groupby(['Store', 'Dept'])['Weekly_Sales_Predicted'].sum().reset_index()
previsoes.columns = ['Store', 'Dept', 'Predicted_Annual_Sales']

In [ ]:
# Top 10 maiores previsões de vendas
print(previsoes.sort_values(by='Predicted_Annual_Sales', ascending=False).head(10))

# Exportar
# previsoes.to_csv("previsoes_vendas_loja_depto.csv", index=False)

In [5]:
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
df.sort_values(by='Date', inplace=True)

In [7]:
df.Date.min()

Timestamp('2010-02-05 00:00:00')

In [8]:
df.Date.max()

Timestamp('2012-10-26 00:00:00')

In [9]:
df.columns

Index(['Unnamed: 0', 'Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday',
       'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3',
       'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment', 'Type', 'Size', 'Year',
       'Month', 'Week', 'DayOfYear', 'DescontoSum', 'TemDesconto',
       'DescontoAvg'],
      dtype='object')

In [10]:
df[df.IsHoliday == True][["Date",'Week']].drop_duplicates()

             Date  Week
219108 2010-02-12     6
58133  2010-09-10    36
134006 2010-11-26    47
408995 2010-12-31    52
352335 2011-02-11     6
220313 2011-09-09    36
189431 2011-11-25    47
59242  2011-12-30    52
333009 2012-02-10     6
403894 2012-09-07    36

## 2. Treinando modelo de previsão

### 2.1 Separar dados de treino e teste

In [11]:
# Separar dados de treino (tudo exceto o último ano) e teste (ano seguinte)
train_df = df[df['Year'] < df['Year'].max()]
test_df = df[df['Year'] == df['Year'].max()]

columns = ['Store', 'Dept', 'IsHoliday', 'Type', 'Size', 'Month']

X_train = train_df[columns]
y_train = train_df['Weekly_Sales']
X_test = test_df[columns]
y_test = test_df['Weekly_Sales']

### 2.2 Experimentar modelos e features

Nesta etapa serão experimentados 5 tipos de técnicas diferentes, além de que para cada técnicas, serão selecionadas k melhores features para treinamento e teste.
Para cada treinamento, será executada a validação cruzada a fim de avaliar o modelo treinado e, no final da execução, obter o melhor modelo que melhor generalize esses dados e que possa ser utilizado para previsão dos próximos anos.

In [12]:
models = {
    "LinearRegression": LinearRegression(),
    "RandomForest": RandomForestRegressor(random_state=42, n_jobs=-1),
    "GradientBoosting": GradientBoostingRegressor(random_state=42),
    "DecisionTree": DecisionTreeRegressor(random_state=42),
    "XGBoost": XGBRegressor(random_state=42, n_jobs=-1)
}

# 3. Avaliação via cross-validation
results = {}

for name, model in models.items():
    print("="*80)
    print("Model:", name)
    print("="*80)
    
    for k_best in range(4, len(X_train.columns) + 1):
        pipeline = Pipeline([
            ('scaler', StandardScaler()),
            ('select', SelectKBest(score_func=f_regression, k=k_best)),
            ('regressor', model)
        ])
        
        # TimeSeriesSplit para evitar leakage temporal
        tscv = TimeSeriesSplit(n_splits=5)
        
        scores = cross_val_score(pipeline, X_train, y_train, scoring='r2', cv=tscv)
        results[name + "_" + str(k_best)] = {
            'R2_mean': np.mean(scores),
            'R2_std': np.std(scores),
            'K_best': k_best
        }
        
        print("K_best:", str(k_best))
        print("R2:", results[name + "_" + str(k_best)]["R2_mean"])
        print("-"*80)
    print("")

================================================================================
Model: LinearRegression
================================================================================
K_best: 4
R2: 0.08211125464483085
--------------------------------------------------------------------------------
K_best: 5
R2: 0.0830414347133845
--------------------------------------------------------------------------------
K_best: 6
R2: 0.08311002199813822
--------------------------------------------------------------------------------

================================================================================
Model: RandomForest
================================================================================
K_best: 4
R2: 0.8732853235293281
--------------------------------------------------------------------------------
K_best: 5
R2: 0.8957788175505274
--------------------------------------------------------------------------------
K_best: 6
R2: 0.9081493807705382
--------------------------------------------------------------------------------

================================================================================
Model: GradientBoosting
================================================================================
K_best: 4
R2: 0.7170703736126258
--------------------------------------------------------------------------------
K_best: 5
R2: 0.7137768443436773
--------------------------------------------------------------------------------
K_best: 6
R2: 0.7140071522109281
--------------------------------------------------------------------------------

================================================================================
Model: DecisionTree
================================================================================
K_best: 4
R2: 0.8733014084395713
--------------------------------------------------------------------------------
K_best: 5
R2: 0.8954910580954067
--------------------------------------------------------------------------------
K_best: 6
R2: 0.9081589116704464
--------------------------------------------------------------------------------

================================================================================
Model: XGBoost
================================================================================
K_best: 4
R2: 0.8659804888337348
--------------------------------------------------------------------------------
K_best: 5
R2: 0.8826496580356806
--------------------------------------------------------------------------------
K_best: 6
R2: 0.8924557561965696
--------------------------------------------------------------------------------

In [13]:
# 4. Treinar o melhor modelo e prever o ano seguinte
best_model_name = max(results, key=lambda x: results[x]['R2_mean'])
best_model = models[best_model_name.split("_")[0]]
k_best = best_model_name.split("_")[1]

final_pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('select', SelectKBest(score_func=f_regression, k=int(k_best))),
    ('regressor', best_model)
])

final_pipeline.fit(X_train, y_train)
y_pred = final_pipeline.predict(X_test)

# 5. Avaliação no conjunto do ano seguinte
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

selected_mask = final_pipeline.named_steps['select'].get_support()
selected_columns = X_train.columns[selected_mask]

print("="*80)
print(f"Melhor modelo: {best_model_name}")
print(f"K_Best: {k_best}")
print(f"Colunas: {list(selected_columns)}")
print(f"R² (ano seguinte): {r2:.4f}")
print(f"RMSE (ano seguinte): {rmse:.2f}")

================================================================================
Melhor modelo: DecisionTree_6
K_Best: 6
Colunas: ['Store', 'Dept', 'IsHoliday', 'Type', 'Size', 'Month']
R² (ano seguinte): 0.9665
RMSE (ano seguinte): 4049.87

## 3. Prever 2013

### 3.1 Criar base para previsão

#### 3.1.1 Selecionar dados de lojas e juntar com weeks

In [14]:
# df tem as colunas Store, Dept, Type, Size
df_data = df[["Store", "Dept", "Type", "Size"]].drop_duplicates().copy()
weeks_2013 = pd.DataFrame({'Date': pd.date_range('2013-01-04', periods=52, freq='W-FRI')})

# Fazendo merge de dados das lojas com weeks
future = df_data.merge(weeks_2013, how='cross')
future

        Store  Dept  Type    Size       Date
0           1     1     0  151315 2013-01-04
1           1     1     0  151315 2013-01-11
2           1     1     0  151315 2013-01-18
3           1     1     0  151315 2013-01-25
4           1     1     0  151315 2013-02-01
...       ...   ...   ...     ...        ...
173207     17    99     1   93188 2013-11-29
173208     17    99     1   93188 2013-12-06
173209     17    99     1   93188 2013-12-13
173210     17    99     1   93188 2013-12-20
173211     17    99     1   93188 2013-12-27

[173212 rows x 5 columns]

#### 3.1.2 Adicionar campo IsHoliday e Month

In [15]:
df['Week'] = df['Date'].dt.isocalendar().week.astype(int)
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

In [16]:
!pip install holidays

Requirement already satisfied: holidays in /Users/michelarruda/miniconda3/envs/mercadolivre_challenge/lib/python3.11/site-packages (0.74)
Requirement already satisfied: python-dateutil in /Users/michelarruda/miniconda3/envs/mercadolivre_challenge/lib/python3.11/site-packages (from holidays) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/michelarruda/miniconda3/envs/mercadolivre_challenge/lib/python3.11/site-packages (from python-dateutil->holidays) (1.17.0)

In [17]:
import holidays

# Obter o calendário de feriados dos EUA para 2013
us_holidays = holidays.US(years=2013)

# Função para saber se há feriado na semana (segunda a domingo)
def is_week_holiday(date):
    week_start = date - pd.Timedelta(days=date.weekday())  # segunda
    week_end = week_start + pd.Timedelta(days=6)           # domingo
    return any(week_start <= pd.to_datetime(d) <= week_end for d in us_holidays)

# Aplicar a função
future['IsHoliday'] = future['Date'].apply(is_week_holiday).astype(int)

In [18]:
future

        Store  Dept  Type    Size       Date  IsHoliday
0           1     1     0  151315 2013-01-04          1
1           1     1     0  151315 2013-01-11          0
2           1     1     0  151315 2013-01-18          0
3           1     1     0  151315 2013-01-25          1
4           1     1     0  151315 2013-02-01          0
...       ...   ...   ...     ...        ...        ...
173207     17    99     1   93188 2013-11-29          1
173208     17    99     1   93188 2013-12-06          0
173209     17    99     1   93188 2013-12-13          0
173210     17    99     1   93188 2013-12-20          0
173211     17    99     1   93188 2013-12-27          1

[173212 rows x 6 columns]

In [19]:
df[["Store", "Dept", "Type", "Size"]].drop_duplicates()

        Store  Dept  Type    Size
0           1     1     0  151315
277665     29     5     1   93638
277808     29     6     1   93638
277951     29     7     1   93638
278094     29     8     1   93638
...       ...   ...   ...     ...
343680     36    49     0   39910
246621     25    96     1  128107
117605     12    99     1  112238
393620     42    24     2   39690
167327     17    99     1   93188

[3331 rows x 4 columns]

In [20]:
# Features temporais
future['Year'] = future['Date'].dt.year
future['Month'] = future['Date'].dt.month
future['Week'] = future['Date'].dt.isocalendar().week.astype(int)

In [21]:
future

        Store  Dept  Type    Size       Date  IsHoliday  Year  Month  Week
0           1     1     0  151315 2013-01-04          1  2013      1     1
1           1     1     0  151315 2013-01-11          0  2013      1     2
2           1     1     0  151315 2013-01-18          0  2013      1     3
3           1     1     0  151315 2013-01-25          1  2013      1     4
4           1     1     0  151315 2013-02-01          0  2013      2     5
...       ...   ...   ...     ...        ...        ...   ...    ...   ...
173207     17    99     1   93188 2013-11-29          1  2013     11    48
173208     17    99     1   93188 2013-12-06          0  2013     12    49
173209     17    99     1   93188 2013-12-13          0  2013     12    50
173210     17    99     1   93188 2013-12-20          0  2013     12    51
173211     17    99     1   93188 2013-12-27          1  2013     12    52

[173212 rows x 9 columns]

In [22]:
features = ['Store', 'Dept', 'IsHoliday', 'Type', 'Size', 'Month']

In [23]:
future[features]

        Store  Dept  IsHoliday  Type    Size  Month
0           1     1          1     0  151315      1
1           1     1          0     0  151315      1
2           1     1          0     0  151315      1
3           1     1          1     0  151315      1
4           1     1          0     0  151315      2
...       ...   ...        ...   ...     ...    ...
173207     17    99          1     1   93188     11
173208     17    99          0     1   93188     12
173209     17    99          0     1   93188     12
173210     17    99          0     1   93188     12
173211     17    99          1     1   93188     12

[173212 rows x 6 columns]

### 3.2 Previsão

In [24]:
future['Predicted_Sales'] = final_pipeline.predict(future[features])

In [25]:
future

,Store,Dept,Type,Size,Date,IsHoliday,Year,Month,Week,Predicted_Sales
0,1,1,0,151315,2013-01-04,1,2013,1,1,41963.330000
1,1,1,0,151315,2013-01-11,0,2013,1,2,17286.647500
2,1,1,0,151315,2013-01-18,0,2013,1,3,17286.647500
3,1,1,0,151315,2013-01-25,1,2013,1,4,41963.330000
4,1,1,0,151315,2013-02-01,0,2013,2,5,28966.508333
...,...,...,...,...,...,...,...,...,...,...
173207,17,99,1,93188,2013-11-29,1,2013,11,48,869.565000
173208,17,99,1,93188,2013-12-06,0,2013,12,49,266.787500
173209,17,99,1,93188,2013-12-13,0,2013,12,50,266.787500
173210,17,99,1,93188,2013-12-20,0,2013,12,51,266.787500
173211,17,99,1,93188,2013-12-27,1,2013,12,52,79.180000

## 4. Salvar modelo

In [29]:
import joblib

joblib.dump(final_pipeline, '../model/model.pkl')

['../model/model.pkl']

In [ ]:
features = ['Store', 'Type', 'Size', 'Dept', 'IsHoliday',  'Month']

In [59]:
df[['Store', 'Dept', 'Type', 'Size']][df.Store == 1].drop_duplicates()

       Store  Dept  Type    Size
0          1     1     0  151315
6194       1    49     0  151315
6069       1    48     0  151315
6047       1    47     0  151315
6337       1    51     0  151315
...      ...   ...   ...     ...
2687       1    21     0  151315
7936       1    78     0  151315
9799       1    96     0  151315
10207      1    99     0  151315
7933       1    77     0  151315

[77 rows x 4 columns]

In [61]:
store_dict = df[['Store', 'Type', 'Size']].drop_duplicates().set_index('Store')[['Type', 'Size']].to_dict(orient='index')
store_dict

{1: {'Type': 0, 'Size': 151315},
 29: {'Type': 1, 'Size': 93638},
 2: {'Type': 0, 'Size': 202307},
 28: {'Type': 0, 'Size': 206302},
 27: {'Type': 0, 'Size': 204184},
 31: {'Type': 0, 'Size': 203750},
 32: {'Type': 0, 'Size': 203007},
 30: {'Type': 2, 'Size': 42988},
 24: {'Type': 0, 'Size': 203819},
 3: {'Type': 1, 'Size': 37392},
 25: {'Type': 1, 'Size': 128107},
 23: {'Type': 1, 'Size': 114533},
 26: {'Type': 0, 'Size': 152513},
 39: {'Type': 0, 'Size': 184109},
 40: {'Type': 0, 'Size': 155083},
 38: {'Type': 2, 'Size': 39690},
 37: {'Type': 2, 'Size': 39910},
 41: {'Type': 0, 'Size': 196321},
 42: {'Type': 2, 'Size': 39690},
 34: {'Type': 0, 'Size': 158114},
 33: {'Type': 0, 'Size': 39690},
 36: {'Type': 0, 'Size': 39910},
 35: {'Type': 1, 'Size': 103681},
 11: {'Type': 0, 'Size': 207499},
 4: {'Type': 0, 'Size': 205863},
 12: {'Type': 1, 'Size': 112238},
 10: {'Type': 1, 'Size': 126512},
 13: {'Type': 0, 'Size': 219622},
 14: {'Type': 0, 'Size': 200898},
 6: {'Type': 0, 'Size': 202505},
 5: {'Type': 1, 'Size': 34875},
 7: {'Type': 1, 'Size': 70713},
 9: {'Type': 1, 'Size': 125833},
 8: {'Type': 0, 'Size': 155078},
 20: {'Type': 0, 'Size': 203742},
 19: {'Type': 0, 'Size': 203819},
 18: {'Type': 1, 'Size': 120653},
 22: {'Type': 1, 'Size': 119557},
 21: {'Type': 1, 'Size': 140167},
 15: {'Type': 1, 'Size': 123737},
 16: {'Type': 1, 'Size': 57197},
 17: {'Type': 1, 'Size': 93188},
 44: {'Type': 2, 'Size': 39910},
 45: {'Type': 1, 'Size': 118221},
 43: {'Type': 2, 'Size': 41062}}

In [72]:
import pickle

with open('../model/stores.pkl', 'wb') as f:
    pickle.dump(store_dict, f)

In [57]:
store = 1

In [58]:
store_dict[store]

{'Type': 0, 'Size': 151315}

In [ ]:
df[]

In [62]:
df[['Store', 'Dept']].drop_duplicates()

        Store  Dept
0           1     1
277665     29     5
277808     29     6
277951     29     7
278094     29     8
...       ...   ...
343680     36    49
246621     25    96
117605     12    99
393620     42    24
167327     17    99

[3331 rows x 2 columns]

In [69]:
store_dpto_dict = df.groupby('Store')['Dept'].unique().to_dict()
store_dpto_dict

{1: array([ 1, 49, 48, 47, 51, 54, 52, 42, 41, 44, 46, 45, 55, 71, 67, 74, 72,
        58, 56, 60, 59, 28, 27, 30, 29, 26, 23, 22, 24, 25, 37, 36, 40, 38,
        35, 32, 31, 33, 34, 79, 87, 85, 91, 90, 81, 80, 92, 83, 82, 98, 97,
        94, 93, 95, 19,  6, 16, 17,  5, 13,  7, 14,  9, 11, 20,  4, 18,  2,
         3, 12,  8, 10, 21, 78, 96, 99, 77]),
 2: array([49, 48, 54, 52, 51, 42, 41, 46, 45, 44, 55, 71, 67, 72, 74, 58, 56,
        59, 78, 28, 27, 30, 29, 24, 23, 26, 25, 37, 36, 40, 38, 32, 31, 35,
        33, 34, 79, 87, 85, 91, 90, 81, 80, 83, 82, 92, 98, 97, 94, 93, 96,
        95, 22,  9,  8, 11, 10,  4,  5,  7,  6, 19, 18, 21, 20, 13, 12, 17,
        14, 16,  3,  2,  1, 39, 60, 47, 99, 77]),
 3: array([ 9,  8, 11, 10,  4,  5,  7,  6, 12, 19, 18, 21, 20, 14, 13, 17, 16,
         3,  2,  1, 22, 55, 54, 56, 60, 59, 46, 45, 44, 52, 51, 47, 81, 82,
        87, 79, 85, 71, 67, 74, 72, 28, 27, 30, 29, 31, 23, 24, 26, 25, 38,
        40, 42, 36, 41, 33, 32, 35, 34, 97, 96, 91, 90, 95, 92, 94, 78, 80,
        98, 77, 49, 83]),
 4: array([71, 67, 72, 74, 58, 56, 60, 59, 79, 87, 85, 91, 90, 81, 80, 83, 82,
        37, 36, 40, 38, 33, 32, 35, 34, 41, 49, 51, 52, 55, 54, 48, 44, 42,
        46, 45, 92, 98, 97, 94, 93, 96, 95, 19, 18, 21, 20, 13, 14, 17, 16,
        22, 28, 27, 30, 29, 24, 23, 12, 26, 25,  2,  1, 31,  9,  8, 11, 10,
         5,  4,  3,  7,  6, 47, 78, 99, 39, 77]),
 5: array([19, 18, 20, 22, 21, 17, 13, 14, 16, 72, 74, 79, 81, 82, 85, 87, 90,
        28, 91, 92, 95, 96, 29, 71, 67, 60, 33, 34, 35, 31, 36, 38, 40, 41,
        27, 42, 46, 30, 52, 54, 55, 56, 58, 59, 44, 24, 23, 12, 26, 25,  2,
         1,  3,  9,  8, 11, 10,  5,  4,  7,  6, 32, 51, 47, 94, 98, 78, 45,
        97, 80, 49, 77]),
 6: array([92, 93, 94, 95, 96, 97, 98, 91, 90, 87, 52, 54, 55, 56, 58, 59, 67,
        71, 74, 79, 80, 81, 82, 83, 85, 72, 51, 49, 48, 47,  1,  2,  3,  4,
         5,  6,  7, 29, 30, 31, 32, 33, 34, 35, 28, 36, 38, 40, 41, 42, 44,
        45, 46, 37, 27, 25,  8,  9, 10, 11, 12, 13, 14, 26, 16, 18, 19, 20,
        21, 22, 23, 24, 17, 78, 60, 99, 77]),
 7: array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 33, 34, 35, 36, 38, 40, 41,
        42, 44, 45, 46, 47, 49, 51, 52, 54, 32, 31, 30, 12, 13, 14, 16, 17,
        18, 19, 20, 11, 22, 23, 24, 25, 26, 27, 28, 29, 21, 55, 56, 58, 97,
        98, 96, 95, 94, 93, 59, 60, 67, 71, 72, 74, 79, 80, 82, 83, 85, 87,
        90, 91, 92, 81, 78, 48, 77, 99]),
 8: array([81, 82, 83, 85, 87, 90, 91, 92, 94, 95, 97, 98, 93, 80, 79,  1,  2,
         3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 18, 38, 40,
        41, 42, 44, 46, 49, 52, 55, 56, 58, 59, 60, 67, 71, 72, 54, 74, 37,
        35, 19, 20, 21, 22, 23, 24, 25, 36, 26, 28, 29, 30, 31, 32, 33, 34,
        27, 47, 45, 78, 51, 99, 77, 96]),
 9: array([ 8,  9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23,  7,  6,
         5,  4, 24,  1,  2,  3, 25, 26, 27, 59, 67, 71, 72, 74, 79, 81, 56,
        82, 87, 90, 91, 92, 95, 96, 97, 85, 55, 52, 28, 29, 30, 31, 32, 33,
        34, 54, 35, 38, 40, 41, 42, 44, 46, 49, 36, 94, 45, 47, 51, 80, 93,
        60, 48, 98, 77, 78]),
 10: array([25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 24, 23,
        22, 21,  4,  5,  6,  7,  8,  9, 10, 41, 11, 13, 14, 16, 17, 18, 19,
        20, 12, 42, 44, 45, 82, 83, 85, 87, 90, 91, 92, 81, 93, 95, 96, 97,
        98, 94, 80, 78, 46, 48, 49, 50, 51, 52, 54, 79, 55, 58, 59, 60, 67,
        71, 72, 74, 56,  3,  2,  1, 47, 77]),
 11: array([28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 44, 27, 26,
        25,  7,  8,  9, 10, 11, 12, 13, 14, 46, 17, 18, 19, 20, 21, 22, 23,
        24, 16,  6, 49, 52, 92, 93, 94, 95, 96, 97, 98, 91, 90, 87, 85, 54,
        55, 56, 58, 59, 60, 67, 51, 71, 74, 78, 79, 80, 81, 82, 83, 72,  5,
         4,  1,  2,  3, 47, 45, 50, 99, 48, 77]),
 12: array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 12, 32, 33, 34, 35, 36, 38,
        40, 41, 42, 44, 45, 46, 49, 51, 52, 54, 31, 30, 13, 14, 16, 17, 18,
        19, 20, 55, 21, 23, 24, 25, 26, 27, 28, 29, 22, 56, 58, 98, 97, 11,
        95, 93, 59, 60, 67, 71, 72, 74, 79, 80, 94, 82, 83, 85, 87, 90, 91,
        92, 81, 78, 47, 77, 96, 99]),
 13: array([41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 58, 40, 38,
        37, 36, 20, 21, 22, 23, 24, 25, 26, 59, 27, 29, 30, 31, 32, 33, 34,
        35, 28, 19, 60, 71, 98, 97, 72, 74, 79, 80, 81, 82, 83, 67, 85, 90,
        91, 92, 93, 94, 95, 96, 87, 18, 17,  1,  2,  3,  4,  5,  6,  7,  8,
         9, 10, 11, 12, 13, 14, 16, 78, 99, 77, 43]),
 14: array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 18,  2,  1,
        19, 20, 21, 45, 46, 49, 50, 51, 52, 54, 55, 56, 58, 59, 60, 67, 71,
        72, 44, 42, 41, 40, 22, 23, 24, 25, 26, 27, 28, 74, 29, 31, 32, 33,
        34, 35, 36, 38, 30, 79, 80, 81, 82, 83, 85, 87, 90, 91, 92, 93, 95,
        97, 98, 94, 43, 47, 78, 99, 77, 96]),
 15: array([58, 59, 67, 71, 72, 74, 79, 80, 81, 82, 83, 85, 87, 90, 91, 56, 55,
        54, 52, 29, 30, 31, 32, 33, 34, 35, 92, 36, 40, 41, 42, 44, 46, 49,
        50, 38, 28, 93, 95, 96, 97, 98, 94, 27, 26,  9, 10, 11, 12, 13, 14,
        16,  8, 17, 18, 19, 20, 21, 22, 23, 24, 25,  7,  5,  6,  1,  2,  3,
         4, 51, 48, 47, 78, 45, 60, 43, 77, 37, 99]),
 16: array([18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 17,
        16, 14,  1,  2,  3,  4,  5,  7,  8,  9, 10, 11, 12, 13,  6, 34, 35,
        36, 85, 87, 90, 91, 92, 94, 95, 96, 97, 98, 82, 81, 79, 74, 38, 40,
        41, 42, 44, 45, 46, 52, 55, 56, 58, 59, 67, 71, 72, 54, 51, 60, 80,
        47, 49, 93, 83, 78, 48, 77, 99]),
 17: array([97, 98, 95, 94, 93, 92, 59, 60, 67, 71, 72, 74, 78, 79, 81, 82, 83,
        85, 87, 90, 91, 80, 58, 56, 54,  1,  2,  3,  4,  5,  6,  7,  8,  9,
        30, 31, 32, 33, 34, 35, 36, 38, 41, 42, 44, 46, 48, 51, 52, 40, 55,
        29, 27, 10, 11, 12, 13, 14, 16, 17, 28, 18, 20, 21, 22, 23, 24, 25,
        26, 19, 45, 47, 49, 77, 96, 99]),
 18: array([82, 83, 85, 87, 90, 91, 92, 93, 97, 95, 81, 80, 79, 78,  1,  2,  3,
         4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 18, 41, 42, 44,
        45, 46, 49, 52, 40, 54, 56, 58, 59, 67, 71, 72, 74, 55, 38, 35, 19,
        20, 21, 22, 23, 24, 25, 36, 26, 28, 29, 30, 31, 32, 33, 34, 27, 98,
        94, 60, 51, 48, 50, 99, 39, 47, 77, 96]),
 19: array([95, 96, 97, 98, 94, 93, 92, 91, 10, 11, 12, 13, 14, 16, 17, 18, 20,
        21, 22, 23, 24, 25, 26, 27,  9,  8,  7,  1,  2,  3,  4,  5,  6, 28,
        29, 30, 56, 58, 59, 60, 67, 71, 72, 55, 74, 80, 81, 82, 83, 85, 87,
        90, 79, 54, 51, 31, 32, 33, 34, 35, 36, 37, 52, 38, 41, 42, 44, 45,
        46, 49, 50, 40, 78, 19, 99, 48, 47, 77, 39]),
 20: array([17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 16, 14,
        13,  1,  2,  3, 32,  4,  5,  6,  7,  8,  9, 10, 11, 12, 33, 35, 60,
        67, 71, 72, 74, 79, 80, 81, 82, 83, 85, 87, 90, 91, 59, 58, 56, 55,
        36, 37, 38, 40, 41, 42, 34, 44, 46, 48, 49, 50, 51, 52, 54, 45, 92,
        93, 95, 97, 98, 94, 78, 99, 47, 77, 96]),
 21: array([19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 18,
        17, 16,  1,  2,  3,  4,  5,  6,  8,  9, 10, 11, 12, 13, 14,  7, 35,
        36, 38, 83, 85, 87, 90, 91, 92, 93, 82, 95, 98, 97, 81, 78, 40, 41,
        42, 44, 46, 49, 52, 79, 54, 56, 58, 59, 67, 71, 72, 74, 55, 94, 51,
        80, 45, 47, 60, 48, 77, 96, 50, 99]),
 22: array([32, 33, 34, 35, 36, 38, 40, 41, 42, 44, 45, 46, 51, 52, 54, 31, 30,
        29, 28, 10, 11, 12, 13, 14, 16, 17, 18, 55, 21, 22, 23, 24, 25, 26,
        27, 20, 56, 59, 98, 97, 95, 60, 67, 71, 72, 74, 79, 80, 58, 81, 83,
        85, 87, 90, 91, 92, 93, 82,  9,  8,  7,  1,  2,  3,  4,  5,  6, 94,
        78, 19, 47, 48, 49, 99, 77, 96]),
 23: array([44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 58, 59, 67, 71, 42, 41,
        40, 38, 21, 22, 23, 24, 25, 26, 27, 72, 28, 30, 31, 32, 33, 34, 35,
        36, 29, 74, 78, 79, 81, 82, 83, 85, 87, 90, 91, 92, 94, 95, 96, 97,
        98, 93, 20, 19, 18,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,
        13, 14, 16, 17, 80, 47, 60, 77, 99]),
 24: array([52, 54, 55, 56, 58, 59, 67, 71, 72, 74, 78, 79, 80, 81, 82, 51, 50,
        49, 46, 27, 28, 29, 30, 31, 32, 33, 83, 34, 36, 37, 38, 40, 41, 42,
        44, 35, 26, 85, 90, 91, 92, 93, 94, 95, 96, 97, 87, 98, 25, 24,  6,
         7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23,  5,
         3,  4,  1,  2, 60, 45, 47, 99, 77]),
 25: array([12, 13, 14, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 11,
        10,  9,  2,  3,  4,  5,  6,  7,  8,  1, 30, 32, 71, 72, 74, 79, 80,
        81, 82, 83, 85, 87, 90, 91, 92, 93, 95, 67, 59, 58, 56, 33, 34, 35,
        36, 37, 38, 40, 97, 41, 44, 46, 49, 50, 52, 54, 55, 42, 98, 31, 47,
        51, 94, 19, 45, 48, 60, 78, 77, 96]),
 26: array([91, 92, 93, 94, 95, 96, 97, 98, 90, 87, 85, 83, 46, 49, 51, 52, 54,
        55, 56, 59, 71, 72, 74, 79, 80, 81, 82, 67, 45, 44, 42,  1,  2, 24,
        25, 26, 27, 28, 29, 30, 23, 31, 33, 34, 35, 36, 38, 40, 41, 32, 22,
        20,  3,  4,  5,  6,  7,  8,  9, 21, 10, 12, 13, 14, 16, 17, 18, 19,
        11, 47, 48, 78, 60, 99, 50, 77]),
 27: array([97, 98, 96, 95, 94, 58, 59, 67, 71, 72, 74, 79, 80, 82, 83, 85, 87,
        90, 91, 92, 93, 81, 56, 55,  1,  2,  3,  4,  5,  6,  7,  8,  9, 11,
        33, 34, 35, 36, 37, 38, 40, 41, 42, 44, 46, 49, 50, 52, 54, 32, 31,
        30, 29, 12, 13, 14, 16, 17, 18, 19, 10, 20, 22, 23, 24, 25, 26, 27,
        28, 21, 47, 51, 78, 45, 60, 99, 77, 39]),
 28: array([80, 81, 82, 83, 85, 87, 90, 91, 93, 94, 95, 96, 97, 98, 92, 79, 74,
        72,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17,
        18, 40, 41, 42, 44, 45, 46, 49, 51, 52, 54, 55, 56, 58, 59, 60, 67,
        71, 38, 36, 19, 20, 21, 22, 23, 24, 25, 26, 37, 27, 29, 30, 31, 32,
        33, 34, 35, 28, 78, 47, 99, 43, 77]),
 29: array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21,  4,  3,
         2,  1, 22, 23, 25, 54, 55, 56, 58, 59, 60, 67, 71, 72, 74, 79, 81,
        82, 83, 85, 52, 51, 46, 44, 26, 27, 28, 29, 30, 31, 24, 32, 34, 35,
        36, 38, 40, 41, 42, 33, 87, 90, 92, 93, 94, 95, 97, 98, 91, 80, 47,
        19, 48, 78, 45, 49, 77, 96, 43, 99]),
 30: array([17, 18, 21, 25, 28, 31, 32, 38, 40, 42, 44, 46, 52, 55, 56, 16, 14,
        13, 12,  1,  2, 59,  3,  5,  6,  7,  8,  9, 10, 11,  4, 60, 67, 72,
        99, 98, 74, 79, 80, 81, 82, 83, 85, 87, 90, 91, 92, 93, 94, 95, 96,
        97, 41, 24, 23, 26, 22, 20, 49, 34, 27, 29, 33, 19]),
 31: array([46, 47, 49, 51, 52, 54, 55, 56, 58, 59, 67, 71, 72, 74, 78, 44, 42,
        41, 40, 23, 24, 25, 26, 27, 28, 29, 79, 30, 32, 33, 34, 35, 36, 37,
        38, 31, 22, 80, 82, 83, 85, 87, 90, 91, 92, 93, 81, 94, 96, 97, 98,
        99, 95, 21, 20, 19,  2,  3,  4,  5,  6,  7,  8,  9,  1, 11, 12, 13,
        14, 16, 17, 18, 10, 45, 60, 77]),
 32: array([ 8,  9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23,  7,  6,
         5,  4,  1,  2,  3, 24, 25, 26, 52, 54, 55, 56, 58, 59, 60, 67, 71,
        72, 74, 79, 80, 81, 82, 51, 49, 46, 45, 27, 28, 29, 30, 31, 32, 33,
        83, 34, 36, 37, 38, 40, 41, 42, 44, 35, 85, 87, 90, 91, 92, 93, 94,
        95, 96, 97, 98, 99, 78, 47, 48, 77]),
 33: array([90, 91, 92, 93, 94, 95, 96, 97, 98, 87, 83, 82, 81, 16, 17, 18, 21,
        25, 26, 38, 14, 40, 55, 59, 60, 67, 74, 79, 80, 46, 13, 11,  2,  3,
         4,  5,  7,  8, 10,  1, 12,  9, 36, 41, 71, 20, 42, 27, 44,  6, 52,
        72, 22, 56, 34, 31, 24, 33, 35, 23, 32, 49, 99]),
 34: array([12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 11, 10,
         9,  8, 28,  1,  2,  3,  4,  5,  6,  7, 29, 31, 56, 58, 59, 65, 67,
        71, 72, 74, 78, 79, 80, 81, 82, 83, 85, 87, 55, 54, 52, 32, 33, 34,
        35, 36, 37, 38, 30, 40, 42, 44, 45, 46, 48, 49, 51, 41, 90, 91, 92,
        93, 94, 95, 96, 97, 98, 47, 99, 60, 77]),
 35: array([16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 14, 13,
        12, 11,  1, 32,  2,  4,  5,  6,  7,  8,  9, 10,  3, 33, 34, 35, 80,
        81, 82, 83, 85, 87, 90, 79, 91, 93, 95, 97, 98, 92, 78, 72, 36, 38,
        40, 41, 42, 44, 46, 51, 74, 52, 55, 56, 58, 59, 60, 67, 71, 54, 94,
        47, 49, 19, 45, 77, 96]),
 36: array([82, 83, 85, 90, 91, 92, 93, 94, 95, 96, 97, 98, 81, 80, 79, 74,  8,
        10, 13, 14, 16, 17, 21, 26, 38, 40, 46, 55, 59, 60, 67, 33,  7,  4,
         1,  2,  3,  5, 11, 87, 20, 25, 18, 44,  9, 42, 12, 52, 41, 24, 23,
        31, 32,  6, 29, 34, 56, 72, 22, 36, 99, 71, 49]),
 37: array([96, 97, 98, 95, 94, 93,  1,  2,  3,  4,  5,  6,  7, 55, 56, 59, 60,
        67, 72, 74, 79, 80, 81, 82, 83, 85, 87, 90, 91, 92, 52, 42,  8,  9,
        10, 11, 12, 13, 14, 46, 16, 18, 21, 25, 28, 31, 38, 40, 17, 26, 32,
        24, 44, 23, 20, 71, 27, 33, 41, 22, 49, 99]),
 38: array([21, 23, 25, 26, 28, 31, 32, 34, 38, 40, 42, 46, 52, 59, 60, 18, 17,
        16, 14,  1,  2,  3,  4, 67,  5,  7,  8,  9, 10, 11, 12, 13,  6, 72,
        74, 79, 80, 81, 82, 83, 85, 87, 90, 91, 93, 94, 95, 96, 97, 98, 92,
        20, 56, 44, 29, 33, 55, 24, 35, 27, 22, 49, 99]),
 39: array([54, 55, 56, 58, 59, 67, 71, 72, 74, 79, 80, 81, 82, 83, 52, 49, 46,
        27, 28, 29, 30, 31, 32, 33, 85, 34, 36, 38, 40, 41, 42, 44, 45, 35,
        26, 87, 91, 92, 93, 94, 95, 96, 97, 98, 90, 25, 24,  6,  7,  8,  9,
        10, 11, 12,  5, 13, 16, 17, 18, 20, 21, 22, 23, 14,  4,  2,  3,  1,
        78, 51, 47, 99, 60, 19, 77]),
 40: array([13, 14, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 12, 11,
        10,  1,  2,  3,  4,  5,  6,  7,  8,  9, 30, 31, 33, 72, 74, 79, 80,
        81, 82, 83, 85, 87, 90, 91, 92, 93, 94, 95, 71, 67, 60, 59, 34, 35,
        36, 37, 38, 40, 41, 96, 42, 45, 46, 48, 52, 54, 55, 56, 44, 97, 98,
        32, 47, 51, 49, 78, 19, 58, 99, 77]),
 41: array([85, 87, 90, 91, 92, 93, 94, 95, 96, 97, 98, 83, 82, 81, 80, 46, 48,
        49, 51, 52, 54, 55, 56, 59, 60, 67, 71, 72, 74, 79, 58, 45, 44, 42,
        41, 23, 24, 25, 26, 27, 28, 29, 22, 30, 32, 33, 34, 35, 36, 38, 40,
        31, 21,  1,  2,  3,  4,  5,  6,  7,  8, 20, 10, 11, 12, 13, 14, 16,
        17, 18,  9, 47, 19, 78, 99, 37, 77]),
 42: array([ 1,  2,  3,  4,  5,  7, 60, 67, 74, 79, 80, 81, 82, 83, 85, 87, 90,
        91, 92, 93, 94, 59, 52, 46,  9, 10, 11, 12, 13, 14, 16, 17,  8, 21,
        25, 28, 31, 32, 38, 40, 42, 18, 95, 96, 98, 97, 55, 44, 56, 33, 20,
        72, 71, 26, 41, 23, 34, 27, 22,  6, 49, 24]),
 43: array([52, 91, 95, 82,  4, 17, 31, 12, 11, 74,  7, 96, 18,  3, 83, 10, 28,
        90, 72, 67, 94, 38,  1, 14, 80, 81, 13,  5, 40, 93,  6, 42, 16, 46,
        92, 79,  2, 32, 26,  8, 97, 85, 21, 25, 98,  9, 60, 59, 87, 56, 33,
        44, 20, 24, 49, 22, 71, 55, 27, 23, 99]),
 44: array([ 3,  5, 10,  1, 94, 81, 93, 82,  9, 46,  7, 83, 92, 52, 18, 32, 14,
        13, 23, 74, 12,  2, 25, 98, 97, 28, 95,  6, 21, 59, 80, 11, 67, 79,
        60, 96, 72, 40, 38, 87, 85,  8, 16, 17, 90,  4, 91, 42, 55, 31, 56,
        99, 44, 20, 27, 71, 24, 34, 22, 49, 33, 26]),
 45: array([28, 17, 38, 97, 83,  5, 56, 55,  4, 27, 91, 58, 85, 13, 60, 30, 40,
         6, 36, 16, 98, 74, 29, 59, 14,  7, 90, 21,  1, 51, 24, 44, 46, 93,
        23, 81, 80, 22, 41, 19,  3, 95, 26, 54, 79, 18, 42, 25, 92,  2, 20,
        52, 82,  8,  9, 12, 72, 33, 10, 67, 71, 87, 11, 35, 32, 31, 34, 78,
        94, 47, 45, 49, 77, 96])}

In [73]:
import pickle

with open('../model/depts.pkl', 'wb') as f:
    pickle.dump(store_depts, f)

In [167]:
today = datetime.today().strftime('%Y-%m-%d')
today

'2025-06-03'

In [168]:
weeks_4 = pd.DataFrame({'Date': pd.date_range(today, periods=4, freq='W-FRI')})
weeks_4

        Date
0 2025-06-06
1 2025-06-13
2 2025-06-20
3 2025-06-27

In [172]:
df = pd.DataFrame(store_dpto_dict)
df

ValueError: All arrays must be of the same length

In [170]:
rows = []

for store, depts in store_dpto_dict.items():
    for dept in depts:
        rows.append({'Store': store, 'Dept': dept})
rows

[{'Store': 1, 'Dept': 1},
 {'Store': 1, 'Dept': 49},
 {'Store': 1, 'Dept': 48},
 {'Store': 1, 'Dept': 47},
 {'Store': 1, 'Dept': 51},
 {'Store': 1, 'Dept': 54},
 {'Store': 1, 'Dept': 52},
 {'Store': 1, 'Dept': 42},
 {'Store': 1, 'Dept': 41},
 {'Store': 1, 'Dept': 44},
 {'Store': 1, 'Dept': 46},
 {'Store': 1, 'Dept': 45},
 {'Store': 1, 'Dept': 55},
 {'Store': 1, 'Dept': 71},
 {'Store': 1, 'Dept': 67},
 {'Store': 1, 'Dept': 74},
 {'Store': 1, 'Dept': 72},
 {'Store': 1, 'Dept': 58},
 {'Store': 1, 'Dept': 56},
 {'Store': 1, 'Dept': 60},
 {'Store': 1, 'Dept': 59},
 {'Store': 1, 'Dept': 28},
 {'Store': 1, 'Dept': 27},
 {'Store': 1, 'Dept': 30},
 {'Store': 1, 'Dept': 29},
 {'Store': 1, 'Dept': 26},
 {'Store': 1, 'Dept': 23},
 {'Store': 1, 'Dept': 22},
 {'Store': 1, 'Dept': 24},
 {'Store': 1, 'Dept': 25},
 {'Store': 1, 'Dept': 37},
 {'Store': 1, 'Dept': 36},
 {'Store': 1, 'Dept': 40},
 {'Store': 1, 'Dept': 38},
 {'Store': 1, 'Dept': 35},
 {'Store': 1, 'Dept': 32},
 {'Store': 1, 'Dept': 31},
 {'Store': 1, 'Dept': 33},
 {'Store': 1, 'Dept': 34},
 {'Store': 1, 'Dept': 79},
 {'Store': 1, 'Dept': 87},
 {'Store': 1, 'Dept': 85},
 {'Store': 1, 'Dept': 91},
 {'Store': 1, 'Dept': 90},
 {'Store': 1, 'Dept': 81},
 {'Store': 1, 'Dept': 80},
 {'Store': 1, 'Dept': 92},
 {'Store': 1, 'Dept': 83},
 {'Store': 1, 'Dept': 82},
 {'Store': 1, 'Dept': 98},
 {'Store': 1, 'Dept': 97},
 {'Store': 1, 'Dept': 94},
 {'Store': 1, 'Dept': 93},
 {'Store': 1, 'Dept': 95},
 {'Store': 1, 'Dept': 19},
 {'Store': 1, 'Dept': 6},
 {'Store': 1, 'Dept': 16},
 {'Store': 1, 'Dept': 17},
 {'Store': 1, 'Dept': 5},
 {'Store': 1, 'Dept': 13},
 {'Store': 1, 'Dept': 7},
 {'Store': 1, 'Dept': 14},
 {'Store': 1, 'Dept': 9},
 {'Store': 1, 'Dept': 11},
 {'Store': 1, 'Dept': 20},
 {'Store': 1, 'Dept': 4},
 {'Store': 1, 'Dept': 18},
 {'Store': 1, 'Dept': 2},
 {'Store': 1, 'Dept': 3},
 {'Store': 1, 'Dept': 12},
 {'Store': 1, 'Dept': 8},
 {'Store': 1, 'Dept': 10},
 {'Store': 1, 'Dept': 21},
 {'Store': 1, 'Dept': 78},
 {'Store': 1, 'Dept': 96},
 {'Store': 1, 'Dept': 99},
 {'Store': 1, 'Dept': 77},
 {'Store': 2, 'Dept': 49},
 {'Store': 2, 'Dept': 48},
 {'Store': 2, 'Dept': 54},
 {'Store': 2, 'Dept': 52},
 {'Store': 2, 'Dept': 51},
 {'Store': 2, 'Dept': 42},
 {'Store': 2, 'Dept': 41},
 {'Store': 2, 'Dept': 46},
 {'Store': 2, 'Dept': 45},
 {'Store': 2, 'Dept': 44},
 {'Store': 2, 'Dept': 55},
 {'Store': 2, 'Dept': 71},
 {'Store': 2, 'Dept': 67},
 {'Store': 2, 'Dept': 72},
 {'Store': 2, 'Dept': 74},
 {'Store': 2, 'Dept': 58},
 {'Store': 2, 'Dept': 56},
 {'Store': 2, 'Dept': 59},
 {'Store': 2, 'Dept': 78},
 {'Store': 2, 'Dept': 28},
 {'Store': 2, 'Dept': 27},
 {'Store': 2, 'Dept': 30},
 {'Store': 2, 'Dept': 29},
 {'Store': 2, 'Dept': 24},
 {'Store': 2, 'Dept': 23},
 {'Store': 2, 'Dept': 26},
 {'Store': 2, 'Dept': 25},
 {'Store': 2, 'Dept': 37},
 {'Store': 2, 'Dept': 36},
 {'Store': 2, 'Dept': 40},
 {'Store': 2, 'Dept': 38},
 {'Store': 2, 'Dept': 32},
 {'Store': 2, 'Dept': 31},
 {'Store': 2, 'Dept': 35},
 {'Store': 2, 'Dept': 33},
 {'Store': 2, 'Dept': 34},
 {'Store': 2, 'Dept': 79},
 {'Store': 2, 'Dept': 87},
 {'Store': 2, 'Dept': 85},
 {'Store': 2, 'Dept': 91},
 {'Store': 2, 'Dept': 90},
 {'Store': 2, 'Dept': 81},
 {'Store': 2, 'Dept': 80},
 {'Store': 2, 'Dept': 83},
 {'Store': 2, 'Dept': 82},
 {'Store': 2, 'Dept': 92},
 {'Store': 2, 'Dept': 98},
 {'Store': 2, 'Dept': 97},
 {'Store': 2, 'Dept': 94},
 {'Store': 2, 'Dept': 93},
 {'Store': 2, 'Dept': 96},
 {'Store': 2, 'Dept': 95},
 {'Store': 2, 'Dept': 22},
 {'Store': 2, 'Dept': 9},
 {'Store': 2, 'Dept': 8},
 {'Store': 2, 'Dept': 11},
 {'Store': 2, 'Dept': 10},
 {'Store': 2, 'Dept': 4},
 {'Store': 2, 'Dept': 5},
 {'Store': 2, 'Dept': 7},
 {'Store': 2, 'Dept': 6},
 {'Store': 2, 'Dept': 19},
 {'Store': 2, 'Dept': 18},
 {'Store': 2, 'Dept': 21},
 {'Store': 2, 'Dept': 20},
 {'Store': 2, 'Dept': 13},
 {'Store': 2, 'Dept': 12},
 {'Store': 2, 'Dept': 17},
 {'Store': 2, 'Dept': 14},
 {'Store': 2, 'Dept': 16},
 {'Store': 2, 'Dept': 3},
 {'Store': 2, 'Dept': 2},
 {'Store': 2, 'Dept': 1},
 {'Store': 2, 'Dept': 39},
 {'Store': 2, 'Dept': 60},
 {'Store': 2, 'Dept': 47},
 {'Store': 2, 'Dept': 99},
 {'Store': 2, 'Dept': 77},
 {'Store': 3, 'Dept': 9},
 {'Store': 3, 'Dept': 8},
 {'Store': 3, 'Dept': 11},
 {'Store': 3, 'Dept': 10},
 {'Store': 3, 'Dept': 4},
 {'Store': 3, 'Dept': 5},
 {'Store': 3, 'Dept': 7},
 {'Store': 3, 'Dept': 6},
 {'Store': 3, 'Dept': 12},
 {'Store': 3, 'Dept': 19},
 {'Store': 3, 'Dept': 18},
 {'Store': 3, 'Dept': 21},
 {'Store': 3, 'Dept': 20},
 {'Store': 3, 'Dept': 14},
 {'Store': 3, 'Dept': 13},
 {'Store': 3, 'Dept': 17},
 {'Store': 3, 'Dept': 16},
 {'Store': 3, 'Dept': 3},
 {'Store': 3, 'Dept': 2},
 {'Store': 3, 'Dept': 1},
 {'Store': 3, 'Dept': 22},
 {'Store': 3, 'Dept': 55},
 {'Store': 3, 'Dept': 54},
 {'Store': 3, 'Dept': 56},
 {'Store': 3, 'Dept': 60},
 {'Store': 3, 'Dept': 59},
 {'Store': 3, 'Dept': 46},
 {'Store': 3, 'Dept': 45},
 {'Store': 3, 'Dept': 44},
 {'Store': 3, 'Dept': 52},
 {'Store': 3, 'Dept': 51},
 {'Store': 3, 'Dept': 47},
 {'Store': 3, 'Dept': 81},
 {'Store': 3, 'Dept': 82},
 {'Store': 3, 'Dept': 87},
 {'Store': 3, 'Dept': 79},
 {'Store': 3, 'Dept': 85},
 {'Store': 3, 'Dept': 71},
 {'Store': 3, 'Dept': 67},
 {'Store': 3, 'Dept': 74},
 {'Store': 3, 'Dept': 72},
 {'Store': 3, 'Dept': 28},
 {'Store': 3, 'Dept': 27},
 {'Store': 3, 'Dept': 30},
 {'Store': 3, 'Dept': 29},
 {'Store': 3, 'Dept': 31},
 {'Store': 3, 'Dept': 23},
 {'Store': 3, 'Dept': 24},
 {'Store': 3, 'Dept': 26},
 {'Store': 3, 'Dept': 25},
 {'Store': 3, 'Dept': 38},
 {'Store': 3, 'Dept': 40},
 {'Store': 3, 'Dept': 42},
 {'Store': 3, 'Dept': 36},
 {'Store': 3, 'Dept': 41},
 {'Store': 3, 'Dept': 33},
 {'Store': 3, 'Dept': 32},
 {'Store': 3, 'Dept': 35},
 {'Store': 3, 'Dept': 34},
 {'Store': 3, 'Dept': 97},
 {'Store': 3, 'Dept': 96},
 {'Store': 3, 'Dept': 91},
 {'Store': 3, 'Dept': 90},
 {'Store': 3, 'Dept': 95},
 {'Store': 3, 'Dept': 92},
 {'Store': 3, 'Dept': 94},
 {'Store': 3, 'Dept': 78},
 {'Store': 3, 'Dept': 80},
 {'Store': 3, 'Dept': 98},
 {'Store': 3, 'Dept': 77},
 {'Store': 3, 'Dept': 49},
 {'Store': 3, 'Dept': 83},
 {'Store': 4, 'Dept': 71},
 {'Store': 4, 'Dept': 67},
 {'Store': 4, 'Dept': 72},
 {'Store': 4, 'Dept': 74},
 {'Store': 4, 'Dept': 58},
 {'Store': 4, 'Dept': 56},
 {'Store': 4, 'Dept': 60},
 {'Store': 4, 'Dept': 59},
 {'Store': 4, 'Dept': 79},
 {'Store': 4, 'Dept': 87},
 {'Store': 4, 'Dept': 85},
 {'Store': 4, 'Dept': 91},
 {'Store': 4, 'Dept': 90},
 {'Store': 4, 'Dept': 81},
 {'Store': 4, 'Dept': 80},
 {'Store': 4, 'Dept': 83},
 {'Store': 4, 'Dept': 82},
 {'Store': 4, 'Dept': 37},
 {'Store': 4, 'Dept': 36},
 {'Store': 4, 'Dept': 40},
 {'Store': 4, 'Dept': 38},
 {'Store': 4, 'Dept': 33},
 {'Store': 4, 'Dept': 32},
 {'Store': 4, 'Dept': 35},
 {'Store': 4, 'Dept': 34},
 {'Store': 4, 'Dept': 41},
 {'Store': 4, 'Dept': 49},
 {'Store': 4, 'Dept': 51},
 {'Store': 4, 'Dept': 52},
 {'Store': 4, 'Dept': 55},
 {'Store': 4, 'Dept': 54},
 {'Store': 4, 'Dept': 48},
 {'Store': 4, 'Dept': 44},
 {'Store': 4, 'Dept': 42},
 {'Store': 4, 'Dept': 46},
 {'Store': 4, 'Dept': 45},
 {'Store': 4, 'Dept': 92},
 {'Store': 4, 'Dept': 98},
 {'Store': 4, 'Dept': 97},
 {'Store': 4, 'Dept': 94},
 {'Store': 4, 'Dept': 93},
 {'Store': 4, 'Dept': 96},
 {'Store': 4, 'Dept': 95},
 {'Store': 4, 'Dept': 19},
 {'Store': 4, 'Dept': 18},
 {'Store': 4, 'Dept': 21},
 {'Store': 4, 'Dept': 20},
 {'Store': 4, 'Dept': 13},
 {'Store': 4, 'Dept': 14},
 {'Store': 4, 'Dept': 17},
 {'Store': 4, 'Dept': 16},
 {'Store': 4, 'Dept': 22},
 {'Store': 4, 'Dept': 28},
 {'Store': 4, 'Dept': 27},
 {'Store': 4, 'Dept': 30},
 {'Store': 4, 'Dept': 29},
 {'Store': 4, 'Dept': 24},
 {'Store': 4, 'Dept': 23},
 {'Store': 4, 'Dept': 12},
 {'Store': 4, 'Dept': 26},
 {'Store': 4, 'Dept': 25},
 {'Store': 4, 'Dept': 2},
 {'Store': 4, 'Dept': 1},
 {'Store': 4, 'Dept': 31},
 {'Store': 4, 'Dept': 9},
 {'Store': 4, 'Dept': 8},
 {'Store': 4, 'Dept': 11},
 {'Store': 4, 'Dept': 10},
 {'Store': 4, 'Dept': 5},
 {'Store': 4, 'Dept': 4},
 {'Store': 4, 'Dept': 3},
 {'Store': 4, 'Dept': 7},
 {'Store': 4, 'Dept': 6},
 {'Store': 4, 'Dept': 47},
 {'Store': 4, 'Dept': 78},
 {'Store': 4, 'Dept': 99},
 {'Store': 4, 'Dept': 39},
 {'Store': 4, 'Dept': 77},
 {'Store': 5, 'Dept': 19},
 {'Store': 5, 'Dept': 18},
 {'Store': 5, 'Dept': 20},
 {'Store': 5, 'Dept': 22},
 {'Store': 5, 'Dept': 21},
 {'Store': 5, 'Dept': 17},
 {'Store': 5, 'Dept': 13},
 {'Store': 5, 'Dept': 14},
 {'Store': 5, 'Dept': 16},
 {'Store': 5, 'Dept': 72},
 {'Store': 5, 'Dept': 74},
 {'Store': 5, 'Dept': 79},
 {'Store': 5, 'Dept': 81},
 {'Store': 5, 'Dept': 82},
 {'Store': 5, 'Dept': 85},
 {'Store': 5, 'Dept': 87},
 {'Store': 5, 'Dept': 90},
 {'Store': 5, 'Dept': 28},
 {'Store': 5, 'Dept': 91},
 {'Store': 5, 'Dept': 92},
 {'Store': 5, 'Dept': 95},
 {'Store': 5, 'Dept': 96},
 {'Store': 5, 'Dept': 29},
 {'Store': 5, 'Dept': 71},
 {'Store': 5, 'Dept': 67},
 {'Store': 5, 'Dept': 60},
 {'Store': 5, 'Dept': 33},
 {'Store': 5, 'Dept': 34},
 {'Store': 5, 'Dept': 35},
 {'Store': 5, 'Dept': 31},
 {'Store': 5, 'Dept': 36},
 {'Store': 5, 'Dept': 38},
 {'Store': 5, 'Dept': 40},
 {'Store': 5, 'Dept': 41},
 {'Store': 5, 'Dept': 27},
 {'Store': 5, 'Dept': 42},
 {'Store': 5, 'Dept': 46},
 {'Store': 5, 'Dept': 30},
 {'Store': 5, 'Dept': 52},
 {'Store': 5, 'Dept': 54},
 {'Store': 5, 'Dept': 55},
 {'Store': 5, 'Dept': 56},
 {'Store': 5, 'Dept': 58},
 {'Store': 5, 'Dept': 59},
 {'Store': 5, 'Dept': 44},
 {'Store': 5, 'Dept': 24},
 {'Store': 5, 'Dept': 23},
 {'Store': 5, 'Dept': 12},
 {'Store': 5, 'Dept': 26},
 {'Store': 5, 'Dept': 25},
 {'Store': 5, 'Dept': 2},
 {'Store': 5, 'Dept': 1},
 {'Store': 5, 'Dept': 3},
 {'Store': 5, 'Dept': 9},
 {'Store': 5, 'Dept': 8},
 {'Store': 5, 'Dept': 11},
 {'Store': 5, 'Dept': 10},
 {'Store': 5, 'Dept': 5},
 {'Store': 5, 'Dept': 4},
 {'Store': 5, 'Dept': 7},
 {'Store': 5, 'Dept': 6},
 {'Store': 5, 'Dept': 32},
 {'Store': 5, 'Dept': 51},
 {'Store': 5, 'Dept': 47},
 {'Store': 5, 'Dept': 94},
 {'Store': 5, 'Dept': 98},
 {'Store': 5, 'Dept': 78},
 {'Store': 5, 'Dept': 45},
 {'Store': 5, 'Dept': 97},
 {'Store': 5, 'Dept': 80},
 {'Store': 5, 'Dept': 49},
 {'Store': 5, 'Dept': 77},
 {'Store': 6, 'Dept': 92},
 {'Store': 6, 'Dept': 93},
 {'Store': 6, 'Dept': 94},
 {'Store': 6, 'Dept': 95},
 {'Store': 6, 'Dept': 96},
 {'Store': 6, 'Dept': 97},
 {'Store': 6, 'Dept': 98},
 {'Store': 6, 'Dept': 91},
 {'Store': 6, 'Dept': 90},
 {'Store': 6, 'Dept': 87},
 {'Store': 6, 'Dept': 52},
 {'Store': 6, 'Dept': 54},
 {'Store': 6, 'Dept': 55},
 {'Store': 6, 'Dept': 56},
 {'Store': 6, 'Dept': 58},
 {'Store': 6, 'Dept': 59},
 {'Store': 6, 'Dept': 67},
 {'Store': 6, 'Dept': 71},
 {'Store': 6, 'Dept': 74},
 {'Store': 6, 'Dept': 79},
 {'Store': 6, 'Dept': 80},
 {'Store': 6, 'Dept': 81},
 {'Store': 6, 'Dept': 82},
 {'Store': 6, 'Dept': 83},
 {'Store': 6, 'Dept': 85},
 {'Store': 6, 'Dept': 72},
 {'Store': 6, 'Dept': 51},
 {'Store': 6, 'Dept': 49},
 {'Store': 6, 'Dept': 48},
 {'Store': 6, 'Dept': 47},
 {'Store': 6, 'Dept': 1},
 {'Store': 6, 'Dept': 2},
 {'Store': 6, 'Dept': 3},
 {'Store': 6, 'Dept': 4},
 {'Store': 6, 'Dept': 5},
 {'Store': 6, 'Dept': 6},
 {'Store': 6, 'Dept': 7},
 {'Store': 6, 'Dept': 29},
 {'Store': 6, 'Dept': 30},
 {'Store': 6, 'Dept': 31},
 {'Store': 6, 'Dept': 32},
 {'Store': 6, 'Dept': 33},
 {'Store': 6, 'Dept': 34},
 {'Store': 6, 'Dept': 35},
 {'Store': 6, 'Dept': 28},
 {'Store': 6, 'Dept': 36},
 {'Store': 6, 'Dept': 38},
 {'Store': 6, 'Dept': 40},
 {'Store': 6, 'Dept': 41},
 {'Store': 6, 'Dept': 42},
 {'Store': 6, 'Dept': 44},
 {'Store': 6, 'Dept': 45},
 {'Store': 6, 'Dept': 46},
 {'Store': 6, 'Dept': 37},
 {'Store': 6, 'Dept': 27},
 {'Store': 6, 'Dept': 25},
 {'Store': 6, 'Dept': 8},
 {'Store': 6, 'Dept': 9},
 {'Store': 6, 'Dept': 10},
 {'Store': 6, 'Dept': 11},
 {'Store': 6, 'Dept': 12},
 {'Store': 6, 'Dept': 13},
 {'Store': 6, 'Dept': 14},
 {'Store': 6, 'Dept': 26},
 {'Store': 6, 'Dept': 16},
 {'Store': 6, 'Dept': 18},
 {'Store': 6, 'Dept': 19},
 {'Store': 6, 'Dept': 20},
 {'Store': 6, 'Dept': 21},
 {'Store': 6, 'Dept': 22},
 {'Store': 6, 'Dept': 23},
 {'Store': 6, 'Dept': 24},
 {'Store': 6, 'Dept': 17},
 {'Store': 6, 'Dept': 78},
 {'Store': 6, 'Dept': 60},
 {'Store': 6, 'Dept': 99},
 {'Store': 6, 'Dept': 77},
 {'Store': 7, 'Dept': 1},
 {'Store': 7, 'Dept': 2},
 {'Store': 7, 'Dept': 3},
 {'Store': 7, 'Dept': 4},
 {'Store': 7, 'Dept': 5},
 {'Store': 7, 'Dept': 6},
 {'Store': 7, 'Dept': 7},
 {'Store': 7, 'Dept': 8},
 {'Store': 7, 'Dept': 9},
 {'Store': 7, 'Dept': 10},
 {'Store': 7, 'Dept': 33},
 {'Store': 7, 'Dept': 34},
 {'Store': 7, 'Dept': 35},
 {'Store': 7, 'Dept': 36},
 {'Store': 7, 'Dept': 38},
 {'Store': 7, 'Dept': 40},
 {'Store': 7, 'Dept': 41},
 {'Store': 7, 'Dept': 42},
 {'Store': 7, 'Dept': 44},
 {'Store': 7, 'Dept': 45},
 {'Store': 7, 'Dept': 46},
 {'Store': 7, 'Dept': 47},
 {'Store': 7, 'Dept': 49},
 {'Store': 7, 'Dept': 51},
 {'Store': 7, 'Dept': 52},
 {'Store': 7, 'Dept': 54},
 {'Store': 7, 'Dept': 32},
 {'Store': 7, 'Dept': 31},
 {'Store': 7, 'Dept': 30},
 {'Store': 7, 'Dept': 12},
 {'Store': 7, 'Dept': 13},
 {'Store': 7, 'Dept': 14},
 {'Store': 7, 'Dept': 16},
 {'Store': 7, 'Dept': 17},
 {'Store': 7, 'Dept': 18},
 {'Store': 7, 'Dept': 19},
 {'Store': 7, 'Dept': 20},
 {'Store': 7, 'Dept': 11},
 {'Store': 7, 'Dept': 22},
 {'Store': 7, 'Dept': 23},
 {'Store': 7, 'Dept': 24},
 {'Store': 7, 'Dept': 25},
 {'Store': 7, 'Dept': 26},
 {'Store': 7, 'Dept': 27},
 {'Store': 7, 'Dept': 28},
 {'Store': 7, 'Dept': 29},
 {'Store': 7, 'Dept': 21},
 {'Store': 7, 'Dept': 55},
 {'Store': 7, 'Dept': 56},
 {'Store': 7, 'Dept': 58},
 {'Store': 7, 'Dept': 97},
 {'Store': 7, 'Dept': 98},
 {'Store': 7, 'Dept': 96},
 {'Store': 7, 'Dept': 95},
 {'Store': 7, 'Dept': 94},
 {'Store': 7, 'Dept': 93},
 {'Store': 7, 'Dept': 59},
 {'Store': 7, 'Dept': 60},
 {'Store': 7, 'Dept': 67},
 {'Store': 7, 'Dept': 71},
 {'Store': 7, 'Dept': 72},
 {'Store': 7, 'Dept': 74},
 {'Store': 7, 'Dept': 79},
 {'Store': 7, 'Dept': 80},
 {'Store': 7, 'Dept': 82},
 {'Store': 7, 'Dept': 83},
 {'Store': 7, 'Dept': 85},
 {'Store': 7, 'Dept': 87},
 {'Store': 7, 'Dept': 90},
 {'Store': 7, 'Dept': 91},
 {'Store': 7, 'Dept': 92},
 {'Store': 7, 'Dept': 81},
 {'Store': 7, 'Dept': 78},
 {'Store': 7, 'Dept': 48},
 {'Store': 7, 'Dept': 77},
 {'Store': 7, 'Dept': 99},
 {'Store': 8, 'Dept': 81},
 {'Store': 8, 'Dept': 82},
 {'Store': 8, 'Dept': 83},
 {'Store': 8, 'Dept': 85},
 {'Store': 8, 'Dept': 87},
 {'Store': 8, 'Dept': 90},
 {'Store': 8, 'Dept': 91},
 {'Store': 8, 'Dept': 92},
 {'Store': 8, 'Dept': 94},
 {'Store': 8, 'Dept': 95},
 {'Store': 8, 'Dept': 97},
 {'Store': 8, 'Dept': 98},
 {'Store': 8, 'Dept': 93},
 {'Store': 8, 'Dept': 80},
 {'Store': 8, 'Dept': 79},
 {'Store': 8, 'Dept': 1},
 {'Store': 8, 'Dept': 2},
 {'Store': 8, 'Dept': 3},
 {'Store': 8, 'Dept': 4},
 {'Store': 8, 'Dept': 5},
 {'Store': 8, 'Dept': 6},
 {'Store': 8, 'Dept': 7},
 {'Store': 8, 'Dept': 8},
 {'Store': 8, 'Dept': 9},
 {'Store': 8, 'Dept': 10},
 {'Store': 8, 'Dept': 11},
 {'Store': 8, 'Dept': 12},
 {'Store': 8, 'Dept': 13},
 {'Store': 8, 'Dept': 14},
 {'Store': 8, 'Dept': 16},
 {'Store': 8, 'Dept': 17},
 {'Store': 8, 'Dept': 18},
 {'Store': 8, 'Dept': 38},
 {'Store': 8, 'Dept': 40},
 {'Store': 8, 'Dept': 41},
 {'Store': 8, 'Dept': 42},
 {'Store': 8, 'Dept': 44},
 {'Store': 8, 'Dept': 46},
 {'Store': 8, 'Dept': 49},
 {'Store': 8, 'Dept': 52},
 {'Store': 8, 'Dept': 55},
 {'Store': 8, 'Dept': 56},
 {'Store': 8, 'Dept': 58},
 {'Store': 8, 'Dept': 59},
 {'Store': 8, 'Dept': 60},
 {'Store': 8, 'Dept': 67},
 {'Store': 8, 'Dept': 71},
 {'Store': 8, 'Dept': 72},
 {'Store': 8, 'Dept': 54},
 {'Store': 8, 'Dept': 74},
 {'Store': 8, 'Dept': 37},
 {'Store': 8, 'Dept': 35},
 {'Store': 8, 'Dept': 19},
 {'Store': 8, 'Dept': 20},
 {'Store': 8, 'Dept': 21},
 {'Store': 8, 'Dept': 22},
 {'Store': 8, 'Dept': 23},
 {'Store': 8, 'Dept': 24},
 {'Store': 8, 'Dept': 25},
 {'Store': 8, 'Dept': 36},
 {'Store': 8, 'Dept': 26},
 {'Store': 8, 'Dept': 28},
 {'Store': 8, 'Dept': 29},
 {'Store': 8, 'Dept': 30},
 {'Store': 8, 'Dept': 31},
 {'Store': 8, 'Dept': 32},
 {'Store': 8, 'Dept': 33},
 {'Store': 8, 'Dept': 34},
 {'Store': 8, 'Dept': 27},
 {'Store': 8, 'Dept': 47},
 {'Store': 8, 'Dept': 45},
 {'Store': 8, 'Dept': 78},
 {'Store': 8, 'Dept': 51},
 {'Store': 8, 'Dept': 99},
 {'Store': 8, 'Dept': 77},
 {'Store': 8, 'Dept': 96},
 {'Store': 9, 'Dept': 8},
 {'Store': 9, 'Dept': 9},
 {'Store': 9, 'Dept': 10},
 {'Store': 9, 'Dept': 11},
 {'Store': 9, 'Dept': 12},
 {'Store': 9, 'Dept': 13},
 {'Store': 9, 'Dept': 14},
 {'Store': 9, 'Dept': 16},
 {'Store': 9, 'Dept': 17},
 {'Store': 9, 'Dept': 18},
 {'Store': 9, 'Dept': 19},
 {'Store': 9, 'Dept': 20},
 {'Store': 9, 'Dept': 21},
 {'Store': 9, 'Dept': 22},
 {'Store': 9, 'Dept': 23},
 {'Store': 9, 'Dept': 7},
 {'Store': 9, 'Dept': 6},
 {'Store': 9, 'Dept': 5},
 {'Store': 9, 'Dept': 4},
 {'Store': 9, 'Dept': 24},
 {'Store': 9, 'Dept': 1},
 {'Store': 9, 'Dept': 2},
 {'Store': 9, 'Dept': 3},
 {'Store': 9, 'Dept': 25},
 {'Store': 9, 'Dept': 26},
 {'Store': 9, 'Dept': 27},
 {'Store': 9, 'Dept': 59},
 {'Store': 9, 'Dept': 67},
 {'Store': 9, 'Dept': 71},
 {'Store': 9, 'Dept': 72},
 {'Store': 9, 'Dept': 74},
 {'Store': 9, 'Dept': 79},
 {'Store': 9, 'Dept': 81},
 {'Store': 9, 'Dept': 56},
 {'Store': 9, 'Dept': 82},
 {'Store': 9, 'Dept': 87},
 {'Store': 9, 'Dept': 90},
 {'Store': 9, 'Dept': 91},
 {'Store': 9, 'Dept': 92},
 {'Store': 9, 'Dept': 95},
 {'Store': 9, 'Dept': 96},
 {'Store': 9, 'Dept': 97},
 {'Store': 9, 'Dept': 85},
 {'Store': 9, 'Dept': 55},
 {'Store': 9, 'Dept': 52},
 {'Store': 9, 'Dept': 28},
 {'Store': 9, 'Dept': 29},
 {'Store': 9, 'Dept': 30},
 {'Store': 9, 'Dept': 31},
 {'Store': 9, 'Dept': 32},
 {'Store': 9, 'Dept': 33},
 {'Store': 9, 'Dept': 34},
 {'Store': 9, 'Dept': 54},
 {'Store': 9, 'Dept': 35},
 {'Store': 9, 'Dept': 38},
 {'Store': 9, 'Dept': 40},
 {'Store': 9, 'Dept': 41},
 {'Store': 9, 'Dept': 42},
 {'Store': 9, 'Dept': 44},
 {'Store': 9, 'Dept': 46},
 {'Store': 9, 'Dept': 49},
 {'Store': 9, 'Dept': 36},
 {'Store': 9, 'Dept': 94},
 {'Store': 9, 'Dept': 45},
 {'Store': 9, 'Dept': 47},
 {'Store': 9, 'Dept': 51},
 {'Store': 9, 'Dept': 80},
 {'Store': 9, 'Dept': 93},
 {'Store': 9, 'Dept': 60},
 {'Store': 9, 'Dept': 48},
 {'Store': 9, 'Dept': 98},
 {'Store': 9, 'Dept': 77},
 {'Store': 9, 'Dept': 78},
 {'Store': 10, 'Dept': 25},
 {'Store': 10, 'Dept': 26},
 {'Store': 10, 'Dept': 27},
 {'Store': 10, 'Dept': 28},
 {'Store': 10, 'Dept': 29},
 {'Store': 10, 'Dept': 30},
 {'Store': 10, 'Dept': 31},
 {'Store': 10, 'Dept': 32},
 {'Store': 10, 'Dept': 33},
 {'Store': 10, 'Dept': 34},
 {'Store': 10, 'Dept': 35},
 {'Store': 10, 'Dept': 36},
 {'Store': 10, 'Dept': 37},
 {'Store': 10, 'Dept': 38},
 {'Store': 10, 'Dept': 40},
 {'Store': 10, 'Dept': 24},
 {'Store': 10, 'Dept': 23},
 {'Store': 10, 'Dept': 22},
 {'Store': 10, 'Dept': 21},
 {'Store': 10, 'Dept': 4},
 {'Store': 10, 'Dept': 5},
 {'Store': 10, 'Dept': 6},
 {'Store': 10, 'Dept': 7},
 {'Store': 10, 'Dept': 8},
 {'Store': 10, 'Dept': 9},
 {'Store': 10, 'Dept': 10},
 {'Store': 10, 'Dept': 41},
 {'Store': 10, 'Dept': 11},
 {'Store': 10, 'Dept': 13},
 {'Store': 10, 'Dept': 14},
 {'Store': 10, 'Dept': 16},
 {'Store': 10, 'Dept': 17},
 {'Store': 10, 'Dept': 18},
 {'Store': 10, 'Dept': 19},
 {'Store': 10, 'Dept': 20},
 {'Store': 10, 'Dept': 12},
 {'Store': 10, 'Dept': 42},
 {'Store': 10, 'Dept': 44},
 {'Store': 10, 'Dept': 45},
 {'Store': 10, 'Dept': 82},
 {'Store': 10, 'Dept': 83},
 {'Store': 10, 'Dept': 85},
 {'Store': 10, 'Dept': 87},
 {'Store': 10, 'Dept': 90},
 {'Store': 10, 'Dept': 91},
 {'Store': 10, 'Dept': 92},
 {'Store': 10, 'Dept': 81},
 {'Store': 10, 'Dept': 93},
 {'Store': 10, 'Dept': 95},
 {'Store': 10, 'Dept': 96},
 {'Store': 10, 'Dept': 97},
 {'Store': 10, 'Dept': 98},
 {'Store': 10, 'Dept': 94},
 {'Store': 10, 'Dept': 80},
 {'Store': 10, 'Dept': 78},
 {'Store': 10, 'Dept': 46},
 {'Store': 10, 'Dept': 48},
 {'Store': 10, 'Dept': 49},
 {'Store': 10, 'Dept': 50},
 {'Store': 10, 'Dept': 51},
 {'Store': 10, 'Dept': 52},
 {'Store': 10, 'Dept': 54},

In [157]:
rows = []

for store, depts in store_dpto_dict.items():
    for dept in depts:
        for date in weeks_4['Date']:
            rows.append({'Store': store, 'Dept': dept, 'Date': date})

In [158]:
df_api = pd.DataFrame(rows)
df_api

       Store  Dept       Date
0          1     1 2025-06-06
1          1     1 2025-06-13
2          1     1 2025-06-20
3          1     1 2025-06-27
4          1    49 2025-06-06
...      ...   ...        ...
13319     45    77 2025-06-27
13320     45    96 2025-06-06
13321     45    96 2025-06-13
13322     45    96 2025-06-20
13323     45    96 2025-06-27

[13324 rows x 3 columns]

In [160]:
df_api

       Store  Dept       Date
0          1     1 2025-06-06
1          1     1 2025-06-13
2          1     1 2025-06-20
3          1     1 2025-06-27
4          1    49 2025-06-06
...      ...   ...        ...
13319     45    77 2025-06-27
13320     45    96 2025-06-06
13321     45    96 2025-06-13
13322     45    96 2025-06-20
13323     45    96 2025-06-27

[13324 rows x 3 columns]

In [161]:
import holidays

# Obter o calendário de feriados dos EUA para 2013
us_holidays = holidays.US(years=2013)

# Função para saber se há feriado na semana (segunda a domingo)
def is_week_holiday(date):
    week_start = date - pd.Timedelta(days=date.weekday())  # segunda
    week_end = week_start + pd.Timedelta(days=6)           # domingo
    return any(week_start <= pd.to_datetime(d) <= week_end for d in us_holidays)

# Aplicar a função
df_api['IsHoliday'] = df_api['Date'].apply(is_week_holiday).astype(int)

In [162]:
df_api

       Store  Dept       Date  IsHoliday
0          1     1 2025-06-06          0
1          1     1 2025-06-13          0
2          1     1 2025-06-20          0
3          1     1 2025-06-27          0
4          1    49 2025-06-06          0
...      ...   ...        ...        ...
13319     45    77 2025-06-27          0
13320     45    96 2025-06-06          0
13321     45    96 2025-06-13          0
13322     45    96 2025-06-20          0
13323     45    96 2025-06-27          0

[13324 rows x 4 columns]

In [163]:
df_api['Month'] = df_api['Date'].dt.month

In [164]:
df_api

       Store  Dept       Date  IsHoliday  Month
0          1     1 2025-06-06          0      6
1          1     1 2025-06-13          0      6
2          1     1 2025-06-20          0      6
3          1     1 2025-06-27          0      6
4          1    49 2025-06-06          0      6
...      ...   ...        ...        ...    ...
13319     45    77 2025-06-27          0      6
13320     45    96 2025-06-06          0      6
13321     45    96 2025-06-13          0      6
13322     45    96 2025-06-20          0      6
13323     45    96 2025-06-27          0      6

[13324 rows x 5 columns]